  ._btn-primary:hover
	    {
           border-color:rgb(66,139,202);
           background-color:rgb(27,106,170);
	    }
	    ._btn:hover
	    {
           text-decoration:none;
	    }
	    ._btn
	    {
           display: inline-block;
           border: 5px solid rgb(255, 255, 255);
           border-image-source: initial;
           border-image-slice: initial;
           border-image-width: initial;
           border-image-outset: initial;
           border-image-repeat: initial;
           border-radius: 0px;
           transition: all 0.15s ease;
           -webkit-transition: all 0.15s ease;
           cursor: pointer;
           vertical-align: middle;
           margin: 0px;
           position: relative;
           color: rgb(255, 255, 255);
           text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
           background-image: none;
           box-shadow: none;
           border-color: rgb(66, 139, 202);
background-color: rgb(66, 139, 202);
	    }